<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.CurrentCategory.Name}} - Principles</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="principle">
            <!-- Left Side: Categories Navigation -->
            <div class="left-section">
                <h1 class="title">Principles</h1>
                <div class="category">Some thoughts, guidelines and cliches to help make decisions in life and work.
                </div>
                <br />
                <hr />
                <div class="categories">
                    <ul>
                        {{range .Categories}}
                        <li><a href="/category?id={{.ID}}">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </div>
            </div>

            <!-- Visible Divider -->
            <div class="divider"></div>

            <!-- Right Side: Principles List -->
            <div class="description">
                <h3>{{.CurrentCategory.Name}}</h3>
                <ul>
                    {{range .Principles}}
                    <li>
                        <a href="/principle?id={{.ID}}">{{.Title}}</a>
                        <p>{{.Description}}</p>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
        <div class="navigation">
            <a href="/">Home</a>
        </div>
    </div>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "2440d7eefcb846159b1cc6946393339f"}'></script><!-- End Cloudflare Web Analytics -->
</body>

</html>