<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principle</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="principle">
            <!-- Left Side: Title & Category -->
            <div class="left-section">
                <h1 class="title">Principles</h1>
                <div class="category">Some thoughts, guidelines and cliches to help make decisions in life and work.</div>
                <br />
                <hr />
                <div class="categories">
                     <ul>
                        {{range .}}
                            <li><a href="/category?id={{.ID}}">{{.Name}}</a></li>
                        {{end}} 
                     </ul> 
                </div>
            </div>

            <!-- Visible Divider -->
            <div class="divider"></div>

            <!-- Right Side: Description -->
            <div class="description">
                <p><i>Principles are fundamental truths that serve as the foundations for behavior that gets you what you want out of life. They can be applied again and again in similar situations to help you achieve your goals.</i></p>
                <p>What is presented on this site, however, is more like a collection of ideas that have been floating around my head for years in desperate need of structure and formalisation.</p>
                <p>They're not necessarily the best way to live your life, but they're good starting points. I'm publishing them in the hopes that other's may draw from them and find them useful.</p>
                <p>Most of these are experience led, however, be aware, there is plenty of duplication, mistakes, and contradictions within these.</p>
                <p>As they said in Pirate's of the Carribean "The code is more what you'd call guidelines, than actual rules."</p>
                <p>I've losely placed these in to categories, which you can select from in the navigation on the left, or you can jump to the <a href="/principle?id=1">"first" principle</a> (they are not in any order)</p>
                <p>This is a living database, it'll be updated as and when I see fit, it's source code is available on <a href="https://github.com/lvturner/principles">github</a></p>
                <p>If you have any <b><i>constructive</i></b> criticisim, or things that you think could be added - I'm all ears!</p>
            </div>
        </div>
    </div>
</body>
</html>
